<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Kind:</b>
  <%=h @task.kind %>
</p>

<p>
  <b>Location:</b>
  <%=h @task.location_id %>
</p>

<p>
  <b>Calendar:</b>
  <%=h @task.calendar_id %>
</p>

<p>
  <b>Start:</b>
  <%=h @task.start %>
</p>

<p>
  <b>End:</b>
  <%=h @task.end %>
</p>

<p>
  <b>Interval:</b>
  <%=h @task.interval %>
</p>

<p>
  <b>Active:</b>
  <%=h @task.active %>
</p>
	
<p> 
  <b>Accomplished:</b>
  <%=h @task.interval_completed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
