<tr<%= " class='disabled'" unless payform_item_set.active %>>
  <td><%= payform_item_set.date %></td>
  <td><%= payform_item_set.hours %></td>
  <td><%=h payform_item_set.category.name %></td>
  <td><%=h payform_item_set.description %></td>
  <% if payform_item_set.active %>
    <td><%= link_to "Edit", edit_payform_item_set_path(payform_item_set) %></td>
    <td><%= link_to "Destroy", payform_item_set, :confirm => 'Are you sure?', :method => :delete %></td>
  <% else %>
    <td colspan = 2>Expired or Deleted</td>
  <% end %>

  <td>
    <strong>Users:</strong>
    <% for payform in payform_item_set.payforms&&[payform_item_set.payform] %> <%# TODO: p_i_s.payform is not needed ideally %>
      <%= link_to payform.user.name, payform %> <%= "(deleted from payform)" if false %>, 
    <% end %>
  </td>
</tr>
