<h1>Listing shift_tasks</h1>

<table>
  <tr>
    <th>On time</th>
  </tr>

<% @shift_tasks.each do |shift_task| %>
  <tr>
    <td><%=h shift_task.on_time %></td>
    <td><%= link_to 'Show', shift_task %></td>
    <td><%= link_to 'Edit', edit_shift_task_path(shift_task) %></td>
    <td><%= link_to 'Destroy', shift_task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shift_task', new_shift_task_path %>