<fieldset>
  <legend>Data type information</legend>
  <p>
    <strong>Name:</strong>
    <%=h data_type.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%=h data_type.description %>
  </p>
  <p>
		<%= render :partial => 'data_types/data_fields_for_data_type', :locals => {:data_type => data_type} %>
  </p>
  <p>
    <strong>Data objects:</strong>
    <ul>
      <% for obj in data_type.data_objects %>
        <li>
          <%= link_to "#{obj.name}", obj %>
          <%= link_to "[x]", obj,  
          :confirm => 'Are you sure you want to destroy this data object? This will destroy all entries belonging to this object.', 
          :method => :delete %>
        </li>
      <% end %>
    </ul>
  </p>
</fieldset>
