<h1>Listing Shift Duties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duty Type</th>
    <th>Start</th>
    <th>End</th>
    <th>Interval</th>
    <th>Completed</th>
    <th>Active</th>
  </tr>

<% @shift_duties.each do |shift_duty| %>
  <tr>
    <td><%=h shift_duty.name %></td>
    <td><%=h shift_duty.duty_type %></td>
    <td><%=h shift_duty.start %></td>
    <td><%=h shift_duty.end %></td>
    <td><%=h shift_duty.interval %></td>
    <td><%=h shift_duty.completed %></td>
    <td><%=h shift_duty.active %></td>
    <td><%= link_to 'Show', shift_duty %></td>
    <td><%= link_to 'Edit', edit_shift_duty_path(shift_duty) %></td>
    <td><%= link_to 'Destroy', shift_duty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shift Duty', new_shift_duty_path %>