<p>
  <b>Name:</b>
  <%=h @shift_duty.name %>
</p>

<p>
  <b>Duty type:</b>
  <%=h @shift_duty.duty_type %>
</p>

<p>
  <b>Start:</b>
  <%=h @shift_duty.start %>
</p>

<p>
  <b>End:</b>
  <%=h @shift_duty.end %>
</p>

<p>
  <b>Interval:</b>
  <%=h @shift_duty.interval %>
</p>

<p>
  <b>Completed:</b>
  <%=h @shift_duty.completed %>
</p>

<p>
  <b>Active:</b>
  <%=h @shift_duty.active %>
</p>


<%= link_to 'Edit', edit_shift_duty_path(@shift_duty) %> |
<%= link_to 'Back', shift_duties_path %>