<h1>Listing shift_duty_archives</h1>

<table>
  <tr>
    <th>Duty</th>
    <th>User</th>
    <th>Time completed</th>
    <th>On time</th>
  </tr>

<% @shift_duty_archives.each do |shift_duty_archive| %>
  <tr>
    <td><%=h shift_duty_archive.duty_id %></td>
    <td><%=h shift_duty_archive.user_id %></td>
    <td><%=h shift_duty_archive.time_completed %></td>
    <td><%=h shift_duty_archive.on_time %></td>
    <td><%= link_to 'Show', shift_duty_archive %></td>
    <td><%= link_to 'Edit', edit_shift_duty_archive_path(shift_duty_archive) %></td>
    <td><%= link_to 'Destroy', shift_duty_archive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shift_duty_archive', new_shift_duty_archive_path %>