<h1>New shift_duty_archive</h1>

<% form_for(@shift_duty_archive) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :duty_id %><br />
    <%= f.text_field :duty_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :time_completed %><br />
    <%= f.datetime_select :time_completed %>
  </p>
  <p>
    <%= f.label :on_time %><br />
    <%= f.check_box :on_time %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shift_duty_archives_path %>