<% form_remote_tag :url => { :controller => 'tasks', :action => 'make_entry' } do %>
	<% @tasks.each do |task| %>
		<li>
  		<%= check_box_tag "task_ids[]", task.id %>
			<%= task.name %>
			<%= " --- Needs Doing!" if task.needs_doing %>
			<%= " --- Done by " if task.done %>
		</li>
		<br />
	<% end %>
	<%= submit_tag "Update", :class => 'make_entry' %>
<% end %>