<% title "Report a problem"%>

<body>
	<p>
		<h3><%= label_tag 'E-mail' %><h3>
		<%= text_field_tag 'email'%>
	</p>
		
	<div id = 'object_location'>
		<p><h3><%= render :partial => 'object_location'%></p>
	</div>
	
	<p>
	<h3><%= label_tag 'Item' %></h3>
	<div id = 'data_objects_at_location'>
		<%= render :partial => 'data_objects_at_location'%>
	</div>
	</p>
		
	<p><div id = 'fields_for_object'></div></p>

</body>
